{% extends "_base.htm" %}

{% block title %}
    Risk analysis details
{% endblock %}

{% block pageblock %}
    <div id="up">
        <h1>Risk analysis {{ analysis.get('id') }}, {{ analysis.get('report_name') }}<br/></h1>
        <img src="data:image/png;base64,{{ ts_chart }}"\>
        {% if avg_var %}
        <h2>Total P/L: {{ total_p_l }}<br/></h2>
        <h2>Average VAR 95: {{ avg_var_95 }}<br/></h2>
        <h2>Average VAR 99: {{ avg_var_99 }}<br/></h2>
        {% else %}
        <div id="msg"><h2>P/L and VAR calculations are still running. Please, refresh the page in a few minutes.</h2></div><br/>
        {% endif %}
        <h2>Trading signals table:<br/></h2>
        <div>{{ sig_table|safe }}</div>
    </div>

{% endblock %}