<div id="down">
    <h1>Identify trading signals and analyse average value at risk for an asset:&nbsp;</h1>
    <form id="create-analysis" method="post" action="/analyses">
        <h3>Asset: <select id="id-form" name="id">
            {% for asset in assets %}
            <option value="{{ asset.get('id') }}">{{ asset.get('id') }} - {{ asset.get('asset_name') }}</option>
            {% endfor %}
        </select><br/></h3>
        <h3>Moving average period: <input type="number" name="ma-period"/><br/></h3>
        <h3><input type="submit" name="draw" value="Submit"/><br/></h3>
    </form>
</div>